@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Бомба</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body 
        {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        #editModal 
        {
            display: none; /* Приховане за замовчуванням */
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
        }
        #editModal .modal-content 
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 5px;
        }
        @@media (max-width: 576px) {
            .card-title {
                font-size: 1rem;
            }

            .card-text {
                font-size: 0.875rem;
            }

            .btn {
                font-size: 0.875rem;
                padding: 0.5rem;
            }

            .card-img-top {
                max-height: 150px;
            }
        }
    </style>
</head>
<body>

    @await Html.PartialAsync("_Header")

    <main>
        @RenderBody()
    </main>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>